
.App {
  text-align: left;
}

body {
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.title {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 60px;
  z-index: 1;
  font-family: 'Tahoma';
  font-style: italic;
  color: #FFFFFF;
  font-size: 45px;
  letter-spacing: 0.4em;
  opacity: 0.9;
  text-shadow: 2px 3px #93D4F5;
}

.title img {
  border: none;
  max-height: 60px;
  padding-right: 10px;
}

.headline {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 60px;
  z-index: 1;
  font-family: 'Tahoma';
  font-style: italic;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0.5em;
  opacity: 0.7;
}
